 <!--  footer -->
 <footer>
    <div class="footer">
       <div class="container">
          <div class="row">
             <div class="col-md-6">
                <div class="call_now2">
                   <h3>SSV Jewellers</h3>
                   <span>Welcomes you all to find a special piece.</span>
                </div>
             </div>
             <div class="col-md-6">
                <div class="call_now">
                   <h3>Contact Now</h3>
                   <span>(+1)1234567890</span>
                   <br>
                   <br>
                   <span>email@mail.com</span>
                </div>
             </div>
          </div>
       </div>
       <div class="copyright">
          <div class="container">
             <p>© 2022 All Rights Reserved. <a href="http://mechu.in">Mechu</a></p>
          </div>
       </div>
    </div>
 </footer>
 <!-- end footer -->