 <!-- header -->
 <header>
    <!-- header inner -->
    <div class="header-top content-section">
       <div class="header">
          <div class="container p-0">
             <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                   <div class="full">
                      <div class="center-desk">
                         <div class="logo">
                            <a href="index.html"><img src="assets/images/logo.png" alt="#" /></a>
                         </div>
                      </div>
                   </div>
                </div>
                <div class="col-xl-9 col-lg-9 col-md-9 col-sm-3">
                   <div class="menu-area">
                      <div class="limit-box">
                         <nav class="main-menu">
                            <ul class="menu-area-main">
                               <li class="active"> <a href="index.html">Home</a> </li>
                               <li> <a href="#jewellery">jewellery</a> </li>
                               <li> <a href="#contact">Contact</a> </li>
                               <li> <a href="#clients">Our Clients</a> </li>
                               <li> <a href="#clients"><small class="text-dark">EN</small> | <small>MA</small></a> </li>
                            </ul>
                         </nav>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
       <!-- end header inner -->
       <!-- end header -->
       <section class="slider_section">
          <div class="banner_main">
             <div class="container">
                <div class="row d_flex">
                   <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 ">
                      <div class="text-bg">
                         <h1>Jewellery</h1>
                         <span>Any events or offers will be here<br> 
                         <strong class="land_bold">Shop Inaugration 2022</strong></span>
                         <a href="#">Contact Us</a>
                      </div>
                   </div>
                   <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12">
                      <div class="text-img">
                         <figure><img src="assets/images/img.png" /></figure>
                      </div>
                   </div>
                </div>
             </div>
          </div>
    
    </section>
    
    </div>
 </header>