 <!-- contact -->
 <div id="contact" class="contact content-section">
    <div class="container">
       <div class="row">
          <section class="col-md-12">
             <div class="titlepage">
                <h2>Request a  call back</h2>
                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse, provident quam ratione earum blanditiis unde itaque velit sit quis facere laboriosam enim vitae temporibus? Aspernatur eum architecto vitae officiis a.</p>
             </div>
          </section>
       </div>
       <div class="row">
          <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12">
             <div class="contact">
                <form>
                   <div class="row">
                      <div class="col-sm-12">
                         <input class="contactus" placeholder="Name" type="text" name="Name">
                      </div>
                      <div class="col-sm-12">
                         <input class="contactus" placeholder="Phone Number" type="text" name="Phone Number">
                      </div>
                      <div class="col-sm-12">
                         <input class="contactus" placeholder="Email" type="text" name="Email">
                      </div>
                      <div class="col-sm-12">
                         <textarea class="textarea" placeholder="Message" type="text" name="Message"></textarea>
                      </div>
                      <div class="col-sm-12">
                         <button class="send">Send</button>
                      </div>
                   </div>
                </form>
             </div>
          </div>
          <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12">
             <div class="rable-box">
                <figure>
                <img src="assets/images/cac.png" alt="#" />
                </figure>
             </div>
          </div>
       </div>
    </div>
 </div>
 <!-- end contact -->